
/* ========================================== */
/* ========================================== */
@import "../helpers/_rulesstyle";
/* ========================================== */

    .error_404
     {
         margin-top: -510px;
         padding-bottom: 80px;
         text-align: center;
         .error_content
         {
             text-align: center;
             h3 
             {
font-weight: bold;
text-transform: capitalize;
color: $maincolor;
font-size: 30px;
             }
              p 
              {
text-transform: capitalize;
font-size: 17px;
line-height: 1.8rem;
width: 95%;
margin: 30px auto;
color: rgb(145, 145, 145);
              }
              .link_butt 
              {
margin: 20px auto 10px;
              }
              img 
              {

              }
         }
    }
 .header 
 {
     .navbar 
     {
         .form-navbar 
         {
             .activenav 
             {
                &:before 
                {
                   transform: scaleX(1);
                }
             }
         }
     }
 }
/* ========================================== */
/* ========================================== */
/************ Start media Query ***************/
/* ========================================== */
@media (min-width:992px) and (max-width:1190px)
{

}
/* ========================================== */
@media (min-width:767px) and (max-width:991px)
{
}
/* ========================================== */
@media (max-width:766px)
{
     
        .error_404
         {
            margin-top: -480px;
        }
}
