
/* ========================================== */
/* ========================================== */
@import "../helpers/_rulesstyle";
/* ========================================== */

 .header 
 {
    .navbar_hori
    {
        width: 100%;
        height: 100vh;
        background-color: $maincolor;
    }
 }
 
/* ========================================== */
/* ========================================== */
/************ Start media Query ***************/
/* ========================================== */
@media (min-width:992px) and (max-width:1190px)
{

}
/* ========================================== */
@media (min-width:767px) and (max-width:991px)
{
}
/* ========================================== */
@media (max-width:766px)
{
     
    
}
